---
import Layout from '../layouts/Layout.astro';
import '@fontsource/mali/200.css';
import '@fontsource-variable/montserrat';
---

<Layout title="Welcome to Astro.">
	<main class="bg-white font-default text-center">
		<section class="before:bg-gradient-to-t before:from-white before:content-[''] before:absolute before:w-full before:h-6 before:bottom-full before:left-0 before:bg-gradient-to-top before:to-white after:content-[''] after:absolute after:w-full after:h-6 after:top-full after:left-0 w-screen px-2 py-10 relative">
			<div class="mx-auto max-w-3xl">
			<h1 class="text-4xl font-thin font-title mb-6">Vítejte!</h1>
			<p class="font-default">Zde najdete všechny potřebné informace na jednom místě. Budeme je průběžně aktualizovat a upřesňovat s tím, jak budou věci nabývat jasnějších obrysů.</p>
			<p>Stránky určitě nemusíte kontrolovat každý den. Naše tempo příprav není nijak zběsilé a dojde-li na stránkách k nějaké větší změně, dostanete od nás email. Aby vám email přišel a abychom na vás měli nějaký kontakt, prosíme všechny, kteří jste nám ještě nenapsali, o potvrzení účasti na email <a href="mailto:zuzkahyneksvatba@gmail.com">zuzkahyneksvatba@gmail.com</a>. Moc děkujeme!</p>
			<p>Těšíme se. Těšte se s námi. Svatba je již ZáHY!</p>
			</div>
		</section>
		<section class="before:bg-gradient-to-t before:from-white before:content-[''] before:absolute before:w-full before:h-6 before:bottom-full before:left-0 before:bg-gradient-to-top before:to-white after:content-[''] after:absolute after:w-full after:h-6 after:top-full after:left-0 w-screen px-2 py-10 relative">
			<div class="mx-auto max-w-3xl">
				<h2 class="font-title mb-4 text-3xl font-extralight">Obřad</h2>
				<h3 class="text-m font-bold">Kdy?</h3>
				<div>10:30</div>
				<h3 class="text-m font-bold">Kde?</h3>
				<div>kaple Panny Marie U Obrázku, Liberec- Ruprechtice</div>
				https://mapy.cz/turisticka?source=base&id=1893217&ds=1&x=15.0743429&y=50.7947354&z=17
				<h3 class="text-m font-bold">Jak se tam dostanete?</h3>
				<p>MHD - Nejbližší autobusová stanice je Blanická či U Transformátoru. Cesta od Blanické po křížové cestě je poměrně strmá. Trvá asi 10 min. Trasa od zastávky U Transformátoru nemá na konci takové stoupání. Trvá asi 20 min.</p>
				<p>Autem - Můžete zaparkovat v centru či na parkovištích Hlávkova nebo Na Pískovně a dojet MHD nebo dojít pěšky.</p>
				<p>Z Balady - Autobusem č. 18 ze zastávky Bedřichov, stadion (2 km od Balady) do zastávky Blanická. Procházkou (3,4 km) - Od Zoo po modré, je potřeba mít dobré boty!</p>
				<p>Kostel je na louce a je přístupný pouze po nezpevněných cestách, dobře zvažte výběr bot :)!!!</p>
				<p>Obřad bude církevní evangelický (Českobratrská církev evangelická). Pro lepší orientaci v průběhu svatebních bohoslužeb připravíme Průvodce, není tedy čeho se bát :).</p>
			</div>
		</section>
		<div class="h-96 bg-fixed bg-cover bg-center" style="background-image: url('fixed-bg-2.jpg')"></div>
		<section class="before:bg-gradient-to-t before:from-white before:content-[''] before:absolute before:w-full before:h-6 before:bottom-full before:left-0 before:bg-gradient-to-top before:to-white after:content-[''] after:absolute after:w-full after:h-6 after:top-full after:left-0 w-screen px-2 py-10 relative">
			<div class="mx-auto max-w-3xl">
				<h2 class="font-title mb-4 text-3xl font-extralight">Raut a párty</h2>
				<h3 class="text-m font-bold">Začátek?</h3> 
				<p>ještě upřesníme, ale určitě ne dřív než v 15:30 hod</p>
				<h3 class="text-m font-bold">Kde?</h3> 
				http://www.bedrichov-ubytovani.cz/
				https://mapy.cz/turisticka?q=Horsk%C3%A1%20chata%20Balada&source=firm&id=13446772&ds=2&x=15.1521610&y=50.7810038&z=16
				<h3 class="text-m font-bold">Jak se tam dostanete?</h3>
				<p>MHD - autobusem č. 18 ze zastávky Blanická na Bedřichov, stadion a poté asi 2 km pěšky</p>
				<p>Autem - parkovat je možné přímo u Balady (zhruba 20 parkovacích míst)</p>
				<p>Co se bude dít? sami nevíme, pokud máte nějaký nápad, určitě nám jej napište :D</p>
				<p>Můžete-li, vemte si prosím vlastní nicknack/kelímek.</p>
			</div>
		</section>
		<div class="h-96 bg-fixed bg-cover bg-center" style="background-image: url('fixed-bg-2.jpg')"></div>
		<section class="before:bg-gradient-to-t before:from-white before:content-[''] before:absolute before:w-full before:h-6 before:bottom-full before:left-0 before:bg-gradient-to-top before:to-white after:content-[''] after:absolute after:w-full after:h-6 after:top-full after:left-0 w-screen px-2 py-10 relative">
			<div class="mx-auto max-w-3xl">
				<h2 class="font-title mb-4 text-3xl font-extralight">Ubytování</h2>
				<p>Nabízíme možnost přespání na chatě Balada. A to z pátku na sobotu a ze soboty na neděli. Přednost dáme hostům z daleka, tedy nelibereckým. Ale nebojte se nám napsat i vy liberečtí, bude-li dost místa, určitě vás taky rádi ubytujeme.</p>
			</div>
		</section>
		<div class="h-96 bg-fixed bg-cover bg-center" style="background-image: url('fixed-bg-2.jpg')"></div>
		<section class="before:bg-gradient-to-t before:from-white before:content-[''] before:absolute before:w-full before:h-6 before:bottom-full before:left-0 before:bg-gradient-to-top before:to-white after:content-[''] after:absolute after:w-full after:h-6 after:top-full after:left-0 w-screen px-2 py-10 relative">
			<div class="mx-auto max-w-3xl">
				<h2 class="font-title mb-4 text-3xl font-extralight">Dary</h2>
				<p>Největším darem pro nás bude pomoc s přípravami. Zejména s rautem. Oceníme všechny vaše pečené, vařené, smažené, slané i sladké majstrštyky.</p>
			</div>
		</section>
	</main>
</Layout>